# Server Port & Environment
PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://premium_portfolio_app:Siam12345@ac-n68kwl2-shard-00-00.ufzptep.mongodb.net:27017,ac-n68kwl2-shard-00-01.ufzptep.mongodb.net:27017,ac-n68kwl2-shard-00-02.ufzptep.mongodb.net:27017/vance_cms?ssl=true&replicaSet=atlas-6x4o42-shard-0&authSource=admin&appName=majority

# JWT Secret
JWT_SECRET=eQFMOx4WFy4NcW05rtKM68+SQhjtPI3IGNqklpJTdsk=

# Admin Credentials
ADMIN_EMAIL=siamtazbidul4@gmail.com
ADMIN_PASSWORD=Siam12345

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=xrve6lry
CLOUDINARY_API_KEY=662174295138434
CLOUDINARY_API_SECRET=AA2td8sw-JHSGOUVVsE5xtL-FYA

# Gmail SMTP Email Delivery Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=siamtazbidul4@gmail.com
SMTP_PASSWORD=ltcpshyfsotigxow
SMTP_FROM_EMAIL=siamtazbidul4@gmail.com
SMTP_FROM_NAME=best protfilue
CONTACT_RECEIVER_EMAIL=siamtazbidul4@gmail.com
